:root {
  /* default theme color */
  /* can be overrided by uses `themeConfig` option */
  --slidev-theme-primary: #5d8392;
}

.slidev-layout {
  @apply tracking-wide;
  :where(h1) {
    @apply font-bold text-6xl leading-20 my-8;
  }
  :where(h2) {
    @apply font-bold text-4xl my-6;
  }
  :where(h3) {
    @apply font-bold text-3xl my-6;
  }
  :where(h4) {
    @apply font-bold text-2xl my-4;
  }
  :where(h5) {
    @apply font-bold text-2xl my-4;
  }
  :where(h6) {
    @apply font-bold text-2xl my-4;
  }
  :where(p) {
    @apply text-2xl my-4;
  }
  :where(li) {
    @apply text-2xl;
  }
  p,
  li {
    @apply leading-snug;
    word-break: auto-phrase;
  }
  ol li {
    margin-left: 1.5em;
  }
  :where(pre, code) {
    @apply text-xl;
  }
  --slidev-code-font-size: 1.25rem;
  --slidev-code-line-height: 1.5rem;
}

.slidev-layout.cover {
  h1 {
    background-color: #2b90b6;
    background-image: linear-gradient(45deg, #365d62 10%, #146b8c 50%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight: bold;
    font-family: "Zen Kaku Gothic New";
    line-height: 1.2 !important;
  }
}

.slidev-layout.cover,
.slidev-layout.intro {
  @apply h-full grid;

  h1 + p {
    @apply -mt-2 opacity-50 mb-4;
  }

  p + h2,
  ul + h2,
  table + h2 {
    @apply mt-10;
  }
}
